@import url('https://fonts.googleapis.com/css?family=Nunito');
.addprojectcontainer {
    height: 976px;
    width: 390px;
    position:fixed;
    /* float:right;  */
    /* z-index: 1;   */
      /* opacity:0.5;    */
      top: 5px; 
     /* right: 0;  */
     left: 970px; 
     background-color: #ffffff;  
     overflow-x: hidden;
  }
  
  .headercontainer {
    height: 40px;
    width: 370px;
    position:fixed; 
    /* z-index: 1; */
    top: 50px;
    left: 1012px;
    background-color: #ffffff;
    overflow-x: hidden;
  }
  .header{
    width: 167px;
    height: 26px;
    font-weight: 700;
    font-size: 18px;
    margin-left: 30px;
    line-height: 24.55px;
    font-family: 'Nunito';
  }

  .addform {
    background-color: #ffffff;
    /* position: fixed; */
    padding: 1px;
    width: 311px;
    height: 251px;
    margin-left: 50px;
    margin-top: 86px;
    font-family: 'Nunito';
}

.modernLabel1 {
  display: block;
  width: 311px;
  height: 16px;
  border-color:none;
  color: #030229;
  padding-top: 5%;
  padding-bottom: 1%;
  font-size: 16px;
  font-weight: 600;
}

.modernInput1 {
  display: block;
  width: 312px;
  height: 36px;
  border-radius:10px;
  border-color: none;
  background-color: #FAFAFB;
  color: #030229; 
  padding-bottom: 4%;
  font-size: 12px;
  font-weight: 400;
  justify-content: flex-start;
}

.uploadbutton{
  display: inline-block;
  border: none;
  border-radius: 14px;
  background-color: #605BFF;
  padding: 12px 20px;
  color: #ffff;
  cursor: pointer;
  font-family: 'Nunito';
  font-weight: 500;
  font-size: 14px;
  align-self: center;
  margin-left: 180px;
  margin-bottom: 40px;
  width:111px;
  height: 56px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2)
}

.savebutton{
  display: inline-block;
  border: none;
  border-radius: 14px;
  background-color: #605BFF;
  padding: 12px 20px;
  color: #ffff;
  cursor: pointer;
  font-family: 'Nunito';
  font-weight: 500;
  font-size: 14px;
  align-self: center;
  margin-left: 20px;
  width:312px;
  height: 56px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2)
}