@import url('https://fonts.googleapis.com/css?family=Nunito');
.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 1rem;
    /* margin-left: 50%; */
    font-family: 'Nunito';
}

.label1{
    color: #464141;
    margin-right: 37%;
    font-size: small;
}

.pagination button {
    width: 40px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    /* transition: all 0.3s ease; */
    color: #2e2c2c;
    border: 2px;
    border-color:#EBEBEB;; 
    background-color: #fff;   
}

.pagination button.active{
    font-weight: 900;
    border-color: #101010;
    background: #ffe400;
    color: #101010;
}