@import url('https://fonts.googleapis.com/css?family=Nunito');
.container{
  position:static;
  background-color: #FAFAFB;
}
.tablecontainer{
  width: 1200px;
  height: 66px;
  margin-top: 80px;
  margin-left: 200px;
  display: block;
}
.header{
  width: 176px;
  height: 63px;
  margin-top: 165px;
  margin-left: 230px;
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 22px;
  line-height: 32.47px;
  color: #000000;
  text-decoration: none;
}
.search{
    width: 180px;
    height:30px;
    float:right;
    font-size: 12px;
    border: none;
}
.searchicon{
  width: 20px;
  height:30px;
  float:right;
  font-size: 12px;
  border: none;
}

.searchbutton{
  border: none;
  cursor: pointer;
}
.addbutton{
  display: inline-block;
  border: none;
  border-radius: 14px;
  background-color: #605BFF;
  padding: 12px 20px;
  color: #ffff;
  cursor: pointer;
  font-family: 'Nunito';
  font-weight: 500;
  font-size: 14px;
  align-self: center;
  margin-left: 20px;
  width:122px;
  height: 40px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2)
}

.innercontainer{
  width: 1,200px;
  height: 768px;
  margin-top: 20px;
  margin-left: 240px;
  border-radius: 16px;
  display:flex;
  flex-direction: column;
  align-items: right;
  gap:4px;
  background-color: #FFFFFF;
}
.checkbox1{
  width: 16px;
  height: 16px;
  padding: 10px;
  display: block;
  border: 0.2px;
  color: #E0E0E0;
  align-items: center;
}
.tableheadcell1{
  width: 30px;
  height: 40px;
  align-items: center;
  box-shadow: 0px 1px 0px 0px #EBEBEB;
}

.tableheadcell2{
  width: 120.86px;
  height: 40px;
  font-family: 'Nunito';
  align-items: center;
  padding-left: 5px;
  text-decoration: none;
  box-shadow: 0px 1px 0px 0px #EBEBEB;
}
.tableheadversion{
  width: 82px;
  height: 40px;
  font-family: 'Nunito';
  align-items: center;
  padding-left: 14px;
  box-shadow: 00px 1px 0px 0px #EBEBEB;
}
.tableheadcell3{
  width: 6px;
  height: 40px;
  font-family: 'Nunito';
  align-items: left;
  padding-left: 20px; 
  box-shadow: 00px 1px 0px 0px #EBEBEB;
  margin: none;
  padding-right: none;
}
.tableheadcell3 button{
  width:4px;
  height: 4px;
  cursor: pointer;
  border: none;
  background-color: #FFFFFF;  
  margin: none;
  padding: none;
}
/* .tableheadcell3 ul{
  display: flex;
} */
.tableheadcell3 li{
  list-style-type: none;
  font-size: x-small;
}
.tableheadcell3 li span {
  position: relative;
  left: -45px;
}
.tableheadcell4{
  width: 120.86px;
  height: 40px;
  font-family: 'Nunito';
  align-items: center;
  padding-left: 1px;
  /* padding-right: 1px; */
  text-decoration: none;
  box-shadow: 0px 1px 0px 0px #EBEBEB;
}

.tablecell1{
  width: 40px;
  height: 50px;
  align-items: center;
  box-shadow: 0px 1px 0px 0px #EBEBEB;
}

.tablecell2{
  width: 130px;
  height: 50px;
  font-family: 'Nunito';
  align-items: center;
  padding-left: 25px;
  text-decoration: none;
  box-shadow: 0px 1px 0px 0px #EBEBEB;
}
.tablecell4{
  width: 138px;
  height: 50px;
  font-family: 'Nunito';
  align-items: center;
  padding-left: 30px;
  padding-right: 2px;
  text-decoration: none;
  box-shadow: 0px 1px 0px 0px #EBEBEB;
}
.tablecell3{
  width: 50px;
  height: 50px;
  font-family: 'Nunito';
  align-items: center;
  padding-left: 10x; 
  box-shadow: 00px 1px 0px 0px #EBEBEB;
}
.tablecell5{
  width: 100px;
  height: 50px;
  font-family: 'Nunito';
  align-items: center;
  padding-left: 1px; 
  padding-right: 60px;
  box-shadow: 00px 1px 0px 0px #EBEBEB;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  /* flex-direction: column; */
  margin-top: 1rem;
  /* width: 1200px;
  height: 80px; */
  font-family: 'Nunito';
}
.pagination ul{
  overflow:hidden;
  }

.pagination li{
  display:inline-flex;
  text-decoration: none;
  }

.label1{
  color: #464141;
  margin-right: 37%;
  font-size: 15px;
  width: 200px;
}

.pagination button {
  width: 30px;
  height: 30px;
  font-family: 'Nunito';
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  /* transition: all 0.3s ease; */
  color: #2e2c2c;
  border: none; 
   /* border-color:#EBEBEB; */
  background-color: #fff;   
}

.pagination button:active {
  background-color: #a2d612;
}

.pagination button:focus {
  background-color: #d2d3d4;
  border-radius: 5%;
}

